body {
  font-family: Arial, Verdana;
}

.container {
  padding: 200px;
  width: 80%;
  margin: auto;
}

.container h3 {
  font-size: 1.3em;
  width: 2rem;
  text-align: center;
}

.divHour, .divMinute, .divSecond {
  display: inline-flex;
  font-size: 2rem;
} 

.buttonStart {
  margin-top: 20px;
  padding: 20px;
  width: 10rem;
}
.divHour button, 
.divMinute button, 
.divSecond button{
  width: 2rem;
  font-size: 30px;
} 

input[type=number] {
  font-size: 2em;
  width: 5rem;
  height: 2em;
  font-weight: bold;
  text-align: center;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}


