body {
  font-family: Arial, Verdana;
  position: relative; 
  height: 100vh;
  margin: 0;
}

.container {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  width: 100%; 
  text-align: center;
  margin: 0;
  display: auto;
}

.timer {
 position: absolute; 
 top: 50%; 
 transform: translateY(-50%); 
 width: 100%; 
 text-align: center;
 margin: 0;
 display: auto;
 font-size: 8em;
}

.container h3 {
  font-size: 1.3em;
  width: 2rem;
  text-align: center;
}

.divHour, .divMinute, .divSecond {
  display: inline-flex;
  font-size: 2rem;
}

.divMinute h3 {
  display: none;
}

.timerHidden {
  display: none;
}

.containerHidden {
  display: none;
}


.divSecond {
  display: none;
}

.buttonStart {
  position: absolute; 
  top: 60%;
  left: 35%;
  transform: translateY(50%); 
  width: 30%; 
  text-align: center;
  margin: 0;
  padding: 20px;
}

.divHour button, 
.divMinute button, 
.divSecond button{
  width: 2rem;
  font-size: 30px;
} 

input[type=number] {
  font-size: 2em;
  width: 5rem;
  height: 2em;
  font-weight: bold;
  text-align: center;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}


