.inputTimer {
  margin: 10px;
  align-items: center;
  text-align: center;  
}

.inputTimer input {
  font-size: 10em;
  text-align: center;
  width: 1em;
  border: 0px;
  
}

.inputTimer button {
  font-size: 2em;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

