p {
  font-family: "Indie Flower", cursive;
  font-weight: 2rem;
  font-style: normal;
}

.font2 {
  font-family: "Arial", cursive;
  font-weight: 4rem;
  font-style: normal;
}

.font3 {
  font-family: "Verdana", cursive;
  font-weight: 400;
  font-style: normal;
}


